@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("../fonts/GeistVF.ttf") format("truetype");
}

$base-color: #161616;
$base-lighter: #252526;
$base-text: rgb(145, 145, 145);
$base-light-gray: #e5e5e5;
$base-off-white: #f2f2f2;

p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Geist";

  i {
    font-family: "inherit";
  }
}

img {
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
button {
  background-color: $base-color;
  color: white;
  border: 1px solid $base-color;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: white;
    color: $base-color;
  }
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 34px;
  line-height: 1.4em;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 600;
}

p {
  color: $base-text;
  line-height: 1.2em;
  font-size: 14px;
}

.section {
  &:nth-child(even) {
    background-color: $base-light-gray !important;
  }

  .inner-section {
    max-width: 800px !important;
    margin: auto !important;
    background-color: inherit;
    padding: 60px 40px;

    &.small {
      max-width: 600px !important;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  // margin-bottom: 20px;

  #site-title {
    font-weight: 600px;
    font-size: 20px;
    display: flex;
    align-items: center;

    .headline {
      margin-top: 2px;
    }

    .home-icon {
      color: darkgray;
      margin-right: 10px;
      font-size: 16px;
    }
  }

  .headline {
    font-size: 18px;
  }

  ul#menu-menu-1 {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;

    li {
      margin-right: 1rem;

      a {
        color: $base-color;
      }
    }
  }
}

footer {
  /* Style the links inside the navigation bar */
  height: 120px;
  .bottomMenu {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;

    li {
      display: inline-block;

      a {
        float: left;
        display: block;
        color: $base-off-white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      /* Change the color of links on hover */
    }
  }
}

// HOMEPAGE STYLES

.home {

  .testimonial-section {

    .testimonial-list {
      // background-color: green;
      > div {
        > div {
          padding-right: 10px;
          margin-bottom: 10px;
        }
      }
    }

    img {
      width: 600px;
      height: auto;
    }

  }

  .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    row-gap: 40px;

    li {
      width: 200px;

      a {
        text-decoration: none;
        color: $base-color;
      }
      img {
        width: 150px;
        height: 150px;
        margin-bottom: 4px;
      }
    }
  }
}

.home-page-brief-container {
  // min-width: 500px;
  p.we-provide {
    max-width: 380px;
    margin-bottom: 10px;
  }
}

.testimonial-heading-wrapper {
  text-align: center;
  margin-bottom: 30px;
}
.testimonial-empty-button {
  background-color: $base-off-white;
  border-radius: 4px;
  padding: 6px 8px;
  color: $base-color;
  display: inline-block;
  // margin-bottom: 5px;
}

// PRODUCT PAGE STYLES

article.product {
  .top {
    display: flex;
    justify-content: "center";

    .image-container {
      margin-right: 50px;
    }

    .product-description-container {
      .full-description {
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 10px;

        span {
          font-size: 12px;
          font-weight: 600;
        }

        i {
          margin-right: 10px;
        }
      }

      .price-container {
        font-weight: 600;
      }
    }
  }

  .bottom {
    h3 {
      margin-bottom: 20px;
    }
    .product-gallery-container {
      // display: flex;
      // justify-content: center;

      .gallery-image {
        // margin-right: 35px;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }

        a {
          // display: flex;
          // align-items: center;
          display: flex;
        }
        img {
          // width: auto;
          // height: 200px;
          // width: 300px;
          // height: 300px;
          // width: 100%;
          // height: 250px;
          display: inline-block;
          margin: auto;
          border-radius: 1px;
          width: 100%;
          height: auto;
          margin-right: 15px;
        }
      }
    }
  }
}

.slides {
  display: flex;
  position: relative;
  width: 5000000px;
}

.slides.shifting {
  transition: all 0.2s ease-out;
}

.slider {
  position: relative;
}
.slider .wrapper {
  overflow: hidden;
}

.slide {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;
}
.slide > * {
  flex: 1;
}

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: flex;
  direction: ltr;
}
.control:after {
  display: block;
  font-size: 36px;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  left: -20px;
}
.prev:after {
  content: "\2039";
}

.next {
  right: -20px;
}
.next:after {
  content: "\203A";
}

.prev:active,
.next:active {
  transform: scale(0.8);
}

.dots {
  padding: 0;
  text-align: center;
}

.dots li {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #ababab;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.dots li.active {
  background-color: #efefef;
}

.slider-rtl {
  direction: rtl;
}
.slider-rtl .control {
  transform: rotateY(180deg);
}
.slider-rtl .control:after {
  position: relative;
  top: -2px;
}
.slider-rtl .next {
  right: auto;
  left: -20px;
}
.slider-rtl .prev {
  left: auto;
  right: -20px;
}
