/*!***************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/scss/screen.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url(../fonts/GeistVF.cd0abceb.ttf) format("truetype");
}
* {
  font-family: "Geist" !important;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 34px;
  line-height: 1.4em;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 600;
}

p {
  color: rgb(145, 145, 145);
  line-height: 1.2em;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header #site-title {
  font-weight: 600px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
header #site-title .headline {
  margin-top: 2px;
}
header #site-title .home-icon {
  color: darkgray;
  margin-right: 10px;
  font-size: 16px;
}
header .headline {
  font-size: 18px;
}
header ul#menu-menu-1 {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}
header ul#menu-menu-1 li {
  margin-right: 1rem;
}
header ul#menu-menu-1 li a {
  color: black;
}

footer {
  /* Style the links inside the navigation bar */
}
footer .bottomMenu {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .bottomMenu li {
  display: inline-block;
  /* Change the color of links on hover */
}
footer .bottomMenu li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
footer .bottomMenu li a:hover {
  background-color: #ddd;
  color: black;
}

.entry-content > .gb-container {
  padding: 75px;
}

.home .product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  row-gap: 40px;
}
.home .product-list li {
  width: 200px;
}
.home .product-list li a {
  text-decoration: none;
  color: black;
}
.home .product-list li img {
  width: 150px;
  height: 150px;
  margin-bottom: 4px;
}

.home-page-brief-container p.we-provide {
  max-width: 380px;
  margin-bottom: 10px;
}

.testimonial-wrapper {
  max-width: 700px;
}
.testimonial-wrapper .testimonial-heading-wrapper {
  text-align: center;
  margin-bottom: 30px;
}
.testimonial-wrapper .testimonial-empty-button {
  background-color: #f9f7f7;
  border-radius: 4px;
  padding: 6px 8px;
  color: black;
  display: inline-block;
}

/*# sourceMappingURL=screen.css.map*/